*.DS_Store
.DS_Store
**/.DS_Store
_*/.DS_Store
_*/_*/.DS_Store

*.directory
.directory
**/.directory
_*/.directory
_*/_*/.directory
_*/*/*/.directory

*.class
.class
**/.class
_*/.class
_*/_*/.class

*.class
.class
**/.class
_*/.class
_*/_*/.class
_*/*/*/.class
